<div fxLayout="column wrap" style="display:flex;width:100%; height:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%; height:80px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="padding:5px;" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/ingredionlogo.png" width="64"></div>
    <div fxLayout="column wrap" fxFlex="65" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="padding:5px;" fxFlex="15" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" style="margin-top:20px;width:100px;"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:100px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Carefirst.jpg" width="132"></div>
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:40px;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <div class="loginmessage">
        {{locales.loginmessage}}</div>
    </div>
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:300px; " fxLayoutGap="10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <form style="display: inline-block">
        <mat-form-field style="width:100%;" class="labelmessage" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="{{locales.username}}" type="input" required>
          <mat-label>{{locales.username}}</mat-label>
        </mat-form-field>
        <mat-form-field style="width:100%;" class="labelmessage" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="{{locales.password}}" type="input" placeholder="Input" required>
          <mat-label>{{locales.password}}</mat-label>
        </mat-form-field><button mat-raised-button style="width:100%;background: #5EA73E; border-radius: 30px;" color="primary">Login</button>
        <div fxLayout="row wrap" style="width:100%;height:30px;" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
          <mat-checkbox style="margin-top:15px;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 15px; line-height: 16px;letter-spacing: 0.2px;color: #25282B;" required>{{locales.rememberme}}</mat-checkbox>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div><span style="height:30px;margin-top:12px;" class="forgotpassword">
          {{locales.forgotpassword}}</span>
        </div>
      </form>
    </div>
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
</div>