<div fxLayout="column wrap" style="display:flex; width:100%; height:700px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%; height:100px;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="20" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/image1.png" style="width:100px;"></div>
      </div>
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div style="margin-left:10px;letter-spacing: 0.5px; text-transform: capitalize;color: #283552;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px;">
              {{locales.healthinformation}}</div>
          </div>
          <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" style="width:100%;height:100%" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Stepper.png" style="margin-left:10px;width:300px;"></div>
            <div fxLayout="column wrap" style="width:100%;height:100%" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="color: #25282B;width:100%; height:300px;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 13px; line-height: 19px; letter-spacing: 0.5px;" fxFlex="30" fxLayoutGap="10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%; height:100%;margin-left:10px;" fxFlex="90" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%; height:100%;" fxFlex="15" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div style="margin-left:10px;width:100%; height:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 13px; line-height: 19px; letter-spacing: 0.5px;color: #25282B;">
          {{locales.question1}}</div>
      </div>
      <div fxLayout="row wrap" style="width:100%; height:100%;" fxFlex="50" fxLayoutGap="5px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-bottoom:10px;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 12px; line-height: 18px; text-align: center; letter-spacing: 0.5px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="text-align: left;">
            {{locales.fever}}</div>
          <div style="text-align: left;">
            {{locales.cough}}</div>
          <div style="text-align: center;">
            {{locales.chills}}</div>
        </div>
      </div>
      <div fxLayout="row wrap" style="width:100%;height:100px;test-align:left;margin-top:10px;" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div style="width:100%;height:100%;color: #52575C;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 12px; line-height: 18px; text-align: center; letter-spacing: 0.5px;">
          {{locales.choose}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="80" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <mat-radio-button required [labelPosition]="Top">YES</mat-radio-button>
        <mat-radio-button required [labelPosition]="&apos;before&apos;">No</mat-radio-button>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:100px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div style="color: #25282B;width:100%; height:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 13px; line-height: 19px; letter-spacing: 0.5px;">
        {{locales.question2}}</div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:100%" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="margin-right:10px;" fxFlex="80" fxLayoutAlign="start end" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><button mat-button style="margin-right:20px;border: 1.80943px solid #5EA73E; box-sizing: border-box; border-radius: 5.42829px;">{{locales.no}}</button><button mat-button style="margin-right:20px;border: 1.80943px solid #5EA73E; box-sizing: border-box; border-radius: 5.42829px;">{{locales.yes}}</button></div>
    </div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;height:100%;" class="row2" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div style="width:100%;color: #283552;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 20px; line-height: 30px;text-align: center; letter-spacing: 0.5px; text-transform: capitalize;">
        {{locales.thankyou}}</div>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
</div>