<div fxLayout="column wrap" style="display:flex; width:100%;height:700px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/ingredionlogo.png" style="width:55px; height:50px;padding-left:5px;"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Carefirst.jpg" style="width:80px; height:60px;"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Fit4digital.png" style="width:80px; height:30px;"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="35" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button style="border: 1px solid #5EA73E; box-sizing: border-box; box-shadow: 1.13333px 7.93333px 23.8px rgba(69, 126, 43, 0.43); border-radius: 44px;">English</button></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="35" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="color: #282E3A;width:100%;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 14px; line-height: 21px; display: flex; align-items: center; text-align: center; letter-spacing: 0.4px;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        {{locales.loginmessage}}</div>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%;padding:10px;color: #282E3A;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 17px; line-height: 26px; display: flex; align-items: center; text-align: center; letter-spacing: 0.4px;" fxFlex="80" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
      <form #form="ngForm" style="width:100%; height:100%;" class="form-group" (ngSubmit)="login(form)">
        <mat-form-field style="width:100%;" class="form-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="username" type="input" required ngModel>
          <mat-label>{{locales.username}}</mat-label>
        </mat-form-field>
        <mat-form-field style="width:100%;" class="form-control" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput name="password" type="input" required ngModel>
          <mat-label>{{locales.password}}</mat-label>
        </mat-form-field><button mat-button style="width:150px;height:50px;color: #FFFFFF;background: #5EA73E; box-shadow: 1.13333px 7.93333px 23.8px rgba(94, 167, 62, 0.2); border-radius: 44px;" type="submit" routerLink="/landingpage">{{locales.login}}</button>
      </form>
    </div>
    <div fxLayout="column wrap" style="width:100%" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="5" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  <div fxLayout="row wrap" style="width:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="column wrap" style="width:100%;" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
  </div>
</div>