<div fxLayout="column wrap" style="display:flex; width:100%;height:100%;background-color:#F3F3F9;" fxFlex="100" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="width:100%; height:80px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-toolbar style="margin:0;padding:0;">
      <div fxLayout="column wrap" style="width:100;height:100%;" fxFlex="15" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/locod1.png" width="80"></div>
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="65" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div style="margin-top:7px;color: #52575C;width:100%;height:100%;font-family: Poppins; font-style: normal; font-weight: 500; font-size: 30px; line-height: 51px; text-align: center; letter-spacing: 0.766667px; text-transform: uppercase;">
          {{locales.dashboard}}</div>
      </div>
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="20" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width:100%;height:100%" fxLayoutGap="2px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/layer21.png" style="width:25px;height:40px;"></div>
          <div fxLayout="column wrap" fxFlex="33" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/image1.png" style="width:111;height:25;"></div>
          <div fxLayout="column wrap" fxFlex="34" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img></div>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
    <div fxLayout="row wrap" style="width:100%; height:130px;background: #5EA73E; border-radius: 39.4615px;" fxFlex="80" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="80" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div style="margin-left:40px;color: #FFFFFF;letter-spacing: 0.789231px; text-transform: capitalize;width:100%;font-family: Poppins; font-style: normal; font-weight: 600; font-size: 15px; line-height: 47px;">
          {{locales.hrwelcome}}</div>
        <div style="margin-left:40px;color: #FFFFFF;width:100%;font-family: Poppins; font-style: normal; font-weight: normal; font-size: 10px; line-height: 33px; letter-spacing: 0.789231px;">
          {{locales.hrmessage2}}</div>
      </div>
      <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="20" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Group.png" style="height:90px;"></div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%; height:150px;" fxFlex="100" fxLayoutGap="20px" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="height:100%;margin:0;padding:0;">
        <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Group_1.png" style="height:80px;"></div>
        </div>
      </mat-card>
    </div>
    <div fxLayout="column wrap" style="width:100%;height:100%;" class="row3" fxFlex="30" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="height:100%;margin:0;padding:0;">
        <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Maskgroup.png" style="height:80px;"></div>
        </div>
      </mat-card>
    </div>
    <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="30" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-card style="height:100%;margin:0;padding:0;">
        <div fxLayout="row wrap" style="width:100%;height:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
          <div fxLayout="column wrap" style="width:100%;height:100%;" fxFlex="40" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/Frame.png" style="height:80px;"></div>
        </div>
      </mat-card>
    </div>
  </div>
</div>